.footer {
  background-color: #222;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0.6rem 0 0.8rem;

  height: 6vh;

  .social-message {
    color: blue;
  }

  .social-medias {
    display: flex;
    justify-content: space-around;
    background: red;
    align-items: center;
    max-width: 720px;
  }
}
